<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.sheehan.smarthome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CameraFeedActivity" />
        <activity android:name=".activity.IntrusionViewActivity" />
        <activity android:name=".activity.IntrusionListActivity" />
        <activity android:name=".activity.TemperatureChartActivity" />
        <activity android:name=".activity.CalibrateScaleActivity" />
        <activity android:name=".activity.StockChartActivity" />

        <service
            android:name=".service.IntrusionService"
            android:enabled="true"
            android:process=":smart_home_background" />
        <service
            android:name=".service.StockService"
            android:enabled="true"
            android:process=":smart_home_background" />

        <receiver
            android:name=".receiver.OnBootReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped"
            android:process=":smart_home_background">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.TaskListActivity"></activity>
    </application>

</manifest>